{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'stream/style.css' %}"/>
<script type="text/javascript" src="{% static 'twitter_bootstrap/js/transition.js' %}"></script>

{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

New poll
<form action="{% url 'poll' %}" method="post">
    {% csrf_token %}
    <input type="text" name="new"/>
    <input type="submit" value="Create"/>
</form>